openapi: 3.0.0
servers:
  - url: https://api.coinfirm.com/v3
info:
  title: 'API'
  version: '3.0.2'
  description: >
    Coinfirm platform provides AML/CTF solution for compliance analysis of blockchain-based transactions and related addresses. This is the documentation of platform’s API extension.

    >

    ## Authentication

    This API uses token authentication (Bearer in HTTP Header). First you retrieve a new Bearer token using login/password authentication. After that you can use it to access other resources.


    **Bearer token example**


    `sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6`


    The URL examples throughout this documentation use `token` as a placeholder. For these examples to work, you need to substitute the value with your own access token.


    ## Media Type

    Where applicable this API uses the JSON media-type. Requests with a message-body are using plain JSON to set or update resource states.


    The API accepts JSON in request bodies and requires that the `Content-type: application/json` header be specified for all such requests. The API will always respond with a JSON object, unless stated otherwise. Depending on context, resources may be returned as single objects or as arrays of objects, nested within the response object.


    `Content-type: application/json` and `Accept: application/json` headers **should** be set on all requests if not stated otherwise.


    ## Status codes

    This API uses HTTP status codes to communicate with the API consumer.

    + `200 OK` - Response to a successful GET, PUT, PATCH or DELETE.

    + `201 Created` - Response to a POST that results in a creation.

    + `202 Accepted` - The request has been accepted for processing, but the processing has not been completed.

    + `204 No Content` - Response to a successful request that won't be returning a body (like a DELETE request).

    + `302 Found` - Tells the client to look at (browse to) another url.

    + `304 Not Modified` - Response has not been modified since the previous transmission.

    + `400 Bad Request` - Malformed request; request body validation errors.

    + `401 Unauthorized` - When no or invalid authentication details are provided.

    + `402 Payment required` - When payment check has failed

    + `403 Forbidden` - When authentication succeeded but authenticated user doesn't have access to the resource.

    + `404 Not Found` - When a non-existent resource is requested.

    + `405 Method Not Allowed` - Method not allowed.

    + `409 Conflict` - When the request could not be completed due to a conflict with the current state of the resource.

    + `422 Unprocessable Entity` - The request was well-formed but was unable to be followed due to semantic errors.

    + `500 Server Error` - Something went wrong on the API end.

    + `501 Not Implemented` - The server either does not recognize the request method, or it lacks the ability to fulfill the request.    


    ## Roles

    Each API endpoint has described minimal role to access. Only users with specific roles can access those endpoints. For insufficient role `403 Forbidden` HTTP response will be returned.


    User roles:

      + `1 (unconfirmed)` - registered user with not confirmed e-mail address
      + `2 (confirmed)` - registered user with confirmed e-mail address
      + `9 (network member)` - user who can have access to Network Member Panel
      + `11 (moderator)`
      + `12 (visualizer)` - user who can have access to Visualizer Tool


    ## Encoding

    Every string passed to and from the API needs to be UTF-8 encoded. For maximum compatibility, normalize to Unicode Normalization Form C (NFC) before UTF-8 encoding.


    ## Representation of dates and times

    All exchange of date and time-related data MUST be done according to ISO 8601 standard and stored in UTC.

    All dates in the API are strings in the following format: `YYYY-MM-DDThh:mm:ss.SSSZ`. 


    ## Pagintation

    This API uses the [Link header - RFC 5988](http://tools.ietf.org/html/rfc5988#page-6) to include pagination details.

    An example of a Link header used properly is described in [GitHub documentation](https://developer.github.com/guides/traversing-with-pagination/).

    This API returns total count of resources in `Collection-Total-Count` HTTP header.

    >

    ---


    Generated: 2019-03-08 15:45:25

paths:
  /auth/register:
    post:
      tags:
        - Auth
      summary: 'Creates a new user account.'
      description: '
        Provided email address must be unique. After successful registration a confirmation email must be sent to provided address. Confirmation email must contain confirmation link with key that will be used in API call to initiate account.
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
                - name
                - surname
              properties:
                email:
                  type: string
                  example: 'phpunit+9ee681febc292e5df687843b6b26848dac2b51bd@coinfirm.com'
                  description: 'Email'
                password:
                  type: string
                  example: '124K8t9iHn!'
                  description: 'Password'
                name:
                  type: string
                  example: 'Test'
                  description: 'Name'
                surname:
                  type: string
                  example: 'User'
                  description: 'Surname'
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    example: '826bc24f-7446-4ec5-a21c-67ca4eb104de'
                    description: 'Id'
                  message:
                    type: string
                    example: ''
                    description: 'Message'
                  token:
                    type: string
                    example: '1mx6L2L7AMdEsyKy5LW9s8gt6mBxdICwosVn5sjhbwykOoQJFUru6752dwsj2THN'
                    description: 'Token'
        409:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User already registered'
                    description: 'Error'
  /auth/user-confirm:
    post:
      tags:
        - Auth
      summary: 'Activate user account.'
      description: '
        Marks user account as activated.
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - key
              properties:
                key:
                  type: string
                  example: 'MjhjZjQwMDZlZGQyNWQ2ZmI1NTczYTQzNzhkZTE3ODQ='
                  description: 'Key'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: '1mx6L2L7AMdEsyKy5LW9s8gt6mBxdICwosVn5sjhbwykOoQJFUru6752dwsj2THN'
                    description: 'Token'
        409:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Conflict'
                    description: 'Error'
  /auth/resend-verification-email:
    post:
      tags:
        - Auth
      summary: 'Resend verification email to currently logged in user.'
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        204:
          description: ''
  /auth/login:
    post:
      tags:
        - Auth
      summary: 'Login and retrieve an user token.'
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  example: 'phpunit+9ee681febc292e5df687843b6b26848dac2b51bd@coinfirm.com'
                  description: 'Email'
                password:
                  type: string
                  example: '124K8t9iHn!'
                  description: 'Password'
      responses:
        400:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Invalid email or password'
                    description: 'Error'
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  token:
                    type: string
                    example: '1mx6L2L7AMdEsyKy5LW9s8gt6mBxdICwosVn5sjhbwykOoQJFUru6752dwsj2THN'
                    description: 'Token'
  /auth/email-change:
    post:
      tags:
        - Auth
      summary: 'Initiate user email address change.'
      description: '
        API records user intent for changing email address. User must receive email  for with link to new email address. A one-time unique token that authenticates email change  for this user must be added to confirmation link. User need to have authorisation token  and email need to be connected with this token.
        
        
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        200:
          description: ''
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /auth/email-change-confirm:
    post:
      tags:
        - Auth
      summary: 'Confirm user email address change.'
      description: '
        Value of email is replaced only after user confirms ownership of provided earlier  email address (request must contain key sent in email change confirmation link).
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - key
              properties:
                email:
                  type: string
                  example: 'phpunit+54171e1e0da0c986fd64e6b8daf72638ce637e3b@coinfirm.com'
                  description: 'Email'
                key:
                  type: string
                  example: 'KPOZuFFMkghOuFy67AuBwYm4mGzfocrQEvuPGbboXh038VuvXq5GzlPievDYdrnK'
                  description: 'Key'
      responses:
        204:
          description: ''
  /auth/password-reset:
    post:
      tags:
        - Auth
      summary: 'Initiate user password reset.'
      description: '
        User must receive an e-mail with confirmation link. A one-time unique token  that authenticates password change for this user must be added to confirmation link. If there  is no user registered for provided e-mail address, API must not send the password reset e-mail  but respond with 204.
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
              properties:
                email:
                  type: string
                  example: 'phpunit+54171e1e0da0c986fd64e6b8daf72638ce637e3b@coinfirm.com'
                  description: 'Email'
      responses:
        200:
          description: ''
  /auth/password-reset-confirm:
    post:
      tags:
        - Auth
      summary: 'Confirm user password reset.'
      description: '
        After user confirms password reset action and clicks  link sent in email.
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - password
                - key
              properties:
                password:
                  type: string
                  example: '124K8t9iHn!'
                  description: 'Password'
                key:
                  type: string
                  example: 'PqBzVJtEytXha1ddOQoRkt0ntUZSAZ01moMWDFl4mhf7QZtGPZiD8uFCGYzHFqbj'
                  description: 'Key'
      responses:
        204:
          description: ''
  /users/me:
    get:
      tags:
        - Users
      summary: 'Get user profile.'
      description: '
        **Access roles:** unconfirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  email:
                    type: string
                    example: 'phpunit+9ee681febc292e5df687843b6b26848dac2b51bd@coinfirm.com'
                    description: 'Email'
                  type:
                    type: string
                    example: 'individual'
                    description: 'Type'
                  company_name:
                    type: string
                    example: 'Coinfirm'
                    description: 'Company name'
                  name:
                    type: string
                    example: 'Joe'
                    description: 'Name'
                  surname:
                    type: string
                    example: 'Doe'
                    description: 'Surname'
                  phone:
                    type: string
                    example: '48557668900'
                    description: 'Phone'
                  website:
                    type: string
                    example: 'http://google.pl/'
                    description: 'Website'
                  country:
                    type: string
                    example: 'Poland'
                    description: 'Country'
                  city:
                    type: string
                    example: 'Warsaw'
                    description: 'City'
                  street:
                    type: string
                    example: 'Burakowska'
                    description: 'Street'
                  post_code:
                    type: string
                    example: '30-015'
                    description: 'Post code'
                  tax_id:
                    type: string
                    example: '6982dj0okn381'
                    description: 'Tax id'
                  company_id:
                    type: string
                    example: 'ksoi87jamo02'
                    description: 'Company id'
                  personal_id:
                    type: string
                    example: 'osd8i82w30'
                    description: 'Personal id'
                  description:
                    type: string
                    example: 'My personal account'
                    description: 'Description'
                  verified:
                    type: boolean
                    example: false
                    description: 'Verified'
                  public:
                    type: boolean
                    example: true
                    description: 'Public'
                  level:
                    type: integer
                    example: 101
                    description: 'Level'
                  active:
                    type: integer
                    example: 1
                    description: 'Active'
                  facebook:
                    type: string
                    example: 'http://facebook.com/asd'
                    description: 'Facebook'
                  twitter:
                    type: string
                    example: 'http://twitter.com/asd'
                    description: 'Twitter'
                  linkedin:
                    type: string
                    example: 'http://linkedin.com/asd'
                    description: 'Linkedin'
                  roles:
                    type: array
                    items:
                      type: object
                      properties:
                        role_id:
                          type: integer
                          example: 2
                          description: 'Role id'
                        name:
                          type: string
                          example: 'userConfirmed'
                          description: 'Name'
                  balance:
                    type: number
                    example: 0
                    description: 'Balance'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
    patch:
      tags:
        - Users
      summary: 'Partially update currently logged in user profile.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: 'john.doe@mail.com'
                  description: 'Email'
                public:
                  type: boolean
                  example: true
                  description: 'Public'
                type:
                  type: string
                  example: 'individual'
                  description: 'Type'
                name:
                  type: string
                  example: 'Joe'
                  description: 'Name'
                surname:
                  type: string
                  example: 'Doe'
                  description: 'Surname'
                company_name:
                  type: string
                  example: 'Coinfirm'
                  description: 'Company name'
                phone:
                  type: string
                  example: '48557668900'
                  description: 'Phone'
                website:
                  type: string
                  example: 'http://google.pl/'
                  description: 'Website'
                country:
                  type: string
                  example: 'Poland'
                  description: 'Country'
                city:
                  type: string
                  example: 'Warsaw'
                  description: 'City'
                street:
                  type: string
                  example: 'Burakowska'
                  description: 'Street'
                post_code:
                  type: string
                  example: '30-015'
                  description: 'Post code'
                tax_id:
                  type: string
                  example: '6982dj0okn381'
                  description: 'Tax id'
                company_id:
                  type: string
                  example: 'ksoi87jamo02'
                  description: 'Company id'
                personal_id:
                  type: string
                  example: 'osd8i82w30'
                  description: 'Personal id'
                description:
                  type: string
                  example: 'My personal account'
                  description: 'Description'
                facebook:
                  type: string
                  example: 'http://facebook.com/asd'
                  description: 'Facebook'
                twitter:
                  type: string
                  example: 'http://twitter.com/asd'
                  description: 'Twitter'
                linkedin:
                  type: string
                  example: 'http://linkedin.com/asd'
                  description: 'Linkedin'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  personal_id:
                    type: string
                    example: 'osd8i82w30'
                    description: 'Personal id'
                  country:
                    type: string
                    example: 'Poland'
                    description: 'Country'
                  website:
                    type: string
                    example: 'http://google.pl/'
                    description: 'Website'
                  company_id:
                    type: string
                    example: 'ksoi87jamo02'
                    description: 'Company id'
                  city:
                    type: string
                    example: 'Warsaw'
                    description: 'City'
                  facebook:
                    type: string
                    example: 'http://facebook.com/asd'
                    description: 'Facebook'
                  description:
                    type: string
                    example: 'My personal account'
                    description: 'Description'
                  linkedin:
                    type: string
                    example: 'http://linkedin.com/asd'
                    description: 'Linkedin'
                  type:
                    type: string
                    example: 'individual'
                    description: 'Type'
                  tax_id:
                    type: string
                    example: '6982dj0okn381'
                    description: 'Tax id'
                  twitter:
                    type: string
                    example: 'http://twitter.com/asd'
                    description: 'Twitter'
                  public:
                    type: boolean
                    example: true
                    description: 'Public'
                  phone:
                    type: string
                    example: '48557668900'
                    description: 'Phone'
                  surname:
                    type: string
                    example: 'Doe'
                    description: 'Surname'
                  street:
                    type: string
                    example: 'Burakowska'
                    description: 'Street'
                  company_name:
                    type: string
                    example: 'Coinfirm'
                    description: 'Company name'
                  post_code:
                    type: string
                    example: '30-015'
                    description: 'Post code'
                  name:
                    type: string
                    example: 'Joe'
                    description: 'Name'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
    put:
      tags:
        - Users
      summary: 'Update all fields in currently logged in user profile.'
      description: '
        **Access roles:** unconfirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - name
                - surname
              properties:
                email:
                  type: string
                  example: 'john.doe@mail.com'
                  description: 'Email'
                public:
                  type: boolean
                  example: true
                  description: 'Public'
                type:
                  type: string
                  example: 'individual'
                  description: 'Type'
                name:
                  type: string
                  example: 'Joe'
                  description: 'Name'
                surname:
                  type: string
                  example: 'Doe'
                  description: 'Surname'
                company_name:
                  type: string
                  example: 'Coinfirm'
                  description: 'Company name'
                phone:
                  type: string
                  example: '48557668900'
                  description: 'Phone'
                website:
                  type: string
                  example: 'http://google.pl/'
                  description: 'Website'
                country:
                  type: string
                  example: 'Poland'
                  description: 'Country'
                city:
                  type: string
                  example: 'Warsaw'
                  description: 'City'
                street:
                  type: string
                  example: 'Burakowska'
                  description: 'Street'
                post_code:
                  type: string
                  example: '30-015 Warsaw'
                  description: 'Post code'
                tax_id:
                  type: string
                  example: '6982dj0okn381'
                  description: 'Tax id'
                company_id:
                  type: string
                  example: 'ksoi87jamo02'
                  description: 'Company id'
                personal_id:
                  type: string
                  example: 'osd8i82w30'
                  description: 'Personal id'
                description:
                  type: string
                  example: 'My personal account'
                  description: 'Description'
                facebook:
                  type: string
                  example: 'http://facebook.com/asd'
                  description: 'Facebook'
                twitter:
                  type: string
                  example: 'http://twitter.com/asd'
                  description: 'Twitter'
                linkedin:
                  type: string
                  example: 'http://linkedin.com/asd'
                  description: 'Linkedin'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  personal_id:
                    type: string
                    example: 'osd8i82w30'
                    description: 'Personal id'
                  country:
                    type: string
                    example: 'Poland'
                    description: 'Country'
                  website:
                    type: string
                    example: 'http://google.pl/'
                    description: 'Website'
                  company_id:
                    type: string
                    example: 'ksoi87jamo02'
                    description: 'Company id'
                  city:
                    type: string
                    example: 'Warsaw'
                    description: 'City'
                  facebook:
                    type: string
                    example: 'http://facebook.com/asd'
                    description: 'Facebook'
                  description:
                    type: string
                    example: 'My personal account'
                    description: 'Description'
                  linkedin:
                    type: string
                    example: 'http://linkedin.com/asd'
                    description: 'Linkedin'
                  type:
                    type: string
                    example: 'individual'
                    description: 'Type'
                  tax_id:
                    type: string
                    example: '6982dj0okn381'
                    description: 'Tax id'
                  twitter:
                    type: string
                    example: 'http://twitter.com/asd'
                    description: 'Twitter'
                  public:
                    type: boolean
                    example: true
                    description: 'Public'
                  phone:
                    type: string
                    example: '48557668900'
                    description: 'Phone'
                  surname:
                    type: string
                    example: 'Doe'
                    description: 'Surname'
                  street:
                    type: string
                    example: 'Burakowska'
                    description: 'Street'
                  company_name:
                    type: string
                    example: 'Coinfirm'
                    description: 'Company name'
                  post_code:
                    type: string
                    example: '30-015 Warsaw'
                    description: 'Post code'
                  name:
                    type: string
                    example: 'Joe'
                    description: 'Name'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
    delete:
      tags:
        - Users
      summary: 'Remove user profile.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        204:
          description: ''
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /users/me/avatar:
    get:
      tags:
        - Users
      summary: 'Get user profile avatar.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  file:
                    type: string
                    example: 'ExampleData'
                    description: 'File'
                  type:
                    type: string
                    example: 'application/octet-stream'
                    description: 'Type'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
    put:
      tags:
        - Users
      summary: 'Replace user profile avatar.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - extension
                - data_base64
              properties:
                type:
                  type: string
                  example: 'avatar'
                  description: 'Type'
                extension:
                  type: string
                  example: 'png'
                  description: 'Extension'
                data_base64:
                  type: string
                  example: 'ExampleData'
                  description: 'Data base64'
      responses:
        201:
          description: ''
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /users/me/password:
    put:
      tags:
        - Users
      summary: 'Replace user profile password.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - current_password
                - password
              properties:
                current_password:
                  type: string
                  example: '124K8t9iHn!'
                  description: 'Current password'
                password:
                  type: string
                  example: '124K8t9iHn!+NEW'
                  description: 'Password'
      responses:
        204:
          description: ''
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /users/me/transactions:
    get:
      tags:
        - Users
      summary: 'Get paginated list of currently logged in user transactions.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
        - in: query
          name: status
          required: true
          schema:
            type: integer
            example: 1
        - in: query
          name: reason
          required: true
          schema:
            type: string
            example: 'top'
        - in: query
          name: date_from
          required: true
          schema:
            type: string
            example: '2018-01-01T00:00:00.000Z'
        - in: query
          name: date_to
          required: true
          schema:
            type: string
            example: '2019-01-01T00:00:00.000Z'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uuid:
                      type: string
                      example: '01658aff-196e-4ce2-8e52-53cb9bac8596'
                      description: 'Uuid'
                    time:
                      type: string
                      example: '2018-09-17T13:35:05.000Z'
                      description: 'Time'
                    amount:
                      type: number
                      example: 119.2
                      description: 'Amount'
                    reason:
                      type: string
                      example: 'Top Up '
                      description: 'Reason'
                    status:
                      type: integer
                      example: 0
                      description: 'Status'
                    tx:
                      type: string
                      example: '095d65f39d2b497099a71db9f579b401'
                      description: 'Tx'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /users/me/reports:
    get:
      tags:
        - Users
      summary: 'Get user reports.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    address:
                      type: string
                      example: '16dfTuSx4f78eQ81PzTgBtBDyZ7QhNZ8Vy'
                      description: 'Address'
                    address_type:
                      type: string
                      example: 'BTC'
                      description: 'Address type'
                    time:
                      type: string
                      example: '2018-04-19T15:22:07.000Z'
                      description: 'Time'
                    report_id:
                      type: string
                      example: 'f19f3fafa644c34947d6412a47252b9e7107ad3b72e24231122ace9b93fa5da6'
                      description: 'Report id'
                    report_type:
                      type: string
                      example: 'basic'
                      description: 'Report type'
                    cscore:
                      type: integer
                      example: 88
                      description: 'Cscore'
                    balance:
                      type: number
                      example: 0
                      description: 'Balance'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /users/me/packages:
    get:
      tags:
        - Users
      summary: 'Get user packages.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  basic_reports:
                    type: integer
                    example: 1015
                    description: 'Basic reports'
                  standard_reports:
                    type: integer
                    example: 10309
                    description: 'Standard reports'
                  full_reports:
                    type: integer
                    example: 9817
                    description: 'Full reports'
                  dvp_files:
                    type: integer
                    example: 0
                    description: 'Dvp files'
                  ico_panels:
                    type: integer
                    example: 0
                    description: 'Ico panels'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /users/me/subscriptions:
    get:
      tags:
        - Users
      summary: 'Get user subscriptions.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  monitoring_panel:
                    type: object
                    properties:
                      name:
                        type: string
                        example: 'monitoring_panel'
                        description: 'Name'
                      sub_count:
                        type: integer
                        example: 1
                        description: 'Sub count'
                      end_date:
                        type: string
                        example: '2019-01-01T00:00:00.000Z'
                        description: 'End date'
                      is_expired:
                        type: boolean
                        example: true
                        description: 'Is expired'
                      status:
                        type: boolean
                        example: true
                        description: 'Status'
                      type:
                        type: string
                        example: 'standard'
                        description: 'Type'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /users/me/amlt-balance:
    get:
      tags:
        - Users
      summary: 'Get user AMLT balance.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        200:
          description: ''
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /blockchains/block-height/BTC:
    get:
      tags:
        - Blockchains
      summary: 'Get Bitcoin block height.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  block_height:
                    type: integer
                    example: 557733
                    description: 'Block height'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /blockchains/block-height/ETH:
    get:
      tags:
        - Blockchains
      summary: 'Get Ethereum block height.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  block_height:
                    type: integer
                    example: 7036147
                    description: 'Block height'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /organizations/orders:
    get:
      tags:
        - Organizations
      summary: 'Get organization orders list'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: query
          name: page
          schema:
            type: integer
            example: 1
        - in: query
          name: per_page
          schema:
            type: integer
            example: 10
        - in: query
          name: order_by
          schema:
            type: string
            example: 'order_number'
        - in: query
          name: direction
          schema:
            type: string
            enum: ['asc', 'desc']
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uuid:
                      type: string
                    order_number:
                      type: string
                    order_date:
                      type: string
                    usd_amount:
                      type: number
                    payment_due:
                      type: string
                    payment_date:
                      type: string
                    status:
                      type: string
                      enum: [IN_PROGRESS, CREATED, CANCELED, PAID, OVERDUE]
                    invoice_request_sent:
                      type: boolean
                    invoice_number:
                      type: string
                    type:
                      type: string
                      enum: [INITIAL_RECURRING, RECURRING, SINGLE]
                    license_name:
                      type: string
        403:
          description: 'User not belongs to any organization (should not be possible now)'
  /organizations/orders/{order_uuid}:
    get:
      tags:
        - Organizations
      summary: 'Get organization order details'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: path
          name: order_uuid
          schema:
            type: string
          required: true
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  order_info:
                    type: object
                    properties:
                      uuid:
                        type: string
                      order_number:
                        type: string
                      order_date:
                        type: string
                      usd_amount:
                        type: number
                      payment_due:
                        type: string
                      payment_date:
                        type: string
                      status:
                        type: string
                        enum: [IN_PROGRESS, CREATED, CANCELED, PAID, OVERDUE]
                      invoice_request_sent:
                        type: boolean
                      invoice_number:
                        type: string
                      type:
                        type: string
                        enum: [INITIAL_RECURRING, RECURRING, SINGLE]
                      license_name:
                        type: string
                  billing_data:
                    type: object
                    properties:
                      type:
                        type: string
                        enum: [INDIVIDUAL, COMPANY]
                      name:
                        type: string
                        example: John
                      surname:
                        type: string
                        example: Doe
                      company_name:
                        type: string
                        example: ACME
                      city:
                        type: string
                        example: Warsaw
                      street:
                        type: string
                        example: Al. Jerozolimskie
                      country:
                        type: string
                        example: Poland
                      post_code:
                        type: string
                        example: 01-100
                      vat_number:
                        type: string
                        example: 721231862723452345
                      register_number:
                        type: string
                        example: 92659279523
                  products:
                    type: array
                    items:
                      type: object
                      properties:
                        product_name:
                          type: string
                          enum: [BASIC_REPORT, STANDARD_REPORT, FULL_REPORT, WALLET_MONITORING, VISUALIZER_BASIC, VISUALIZER_ENTERPRISE, VISUALIZER_INVESTIGATOR]
                        display_name:
                          type: string
                        amount:
                          type: number
                        multiplier:
                          type: number
                        duration:
                          type: number
                        durationUnit:
                          type: string
        403:
          description: 'User not belongs to any organization (should not be possible now)'
        404:
          description: 'Order not found'
        500:
          description: 'Empty order (no products) or other error'
  /organizations/users:
    get:
      tags:
        - Organizations
      summary: 'Get organization users list'
      description: '
        **Access roles:** Organization admin
      '
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    uuid:
                      type: string
                    email:
                      type: string
                      example: john.doe@example.com
                    name:
                      type: string
                      example: John
                    surname:
                      type: string
                      example: Doe
        409:
          description: 'User not belongs to any organization (should not be possible now)'
    post:
      tags:
        - Organizations
      summary: 'Invite new user to organization'
      description: '
        **Access roles:** Organization admin
      '
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  example: john.doe@example.com
                name:
                  type: string
                  example: John
                surname:
                  type: string
                  example: Doe
      responses:
        201:
          description: 'User invited'
        402:
          description: 'License max seats limit reached'
        409:
          description: 'User with given email already invited'
  /organizations/orders/license:
    post:
      tags:
        - Organizations
      summary: 'Submit license order'
      description: '
        **Access roles:** confirmed
      '
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                license_name:
                  type: string
                  example: GOLD
                billing_data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [INDIVIDUAL, COMPANY]
                    name:
                      type: string
                      example: John
                    surname:
                      type: string
                      example: Doe
                    company_name:
                      type: string
                      example: ACME
                    city:
                      type: string
                      example: Warsaw
                    street:
                      type: string
                      example: Al. Jerozolimskie
                    country:
                      type: string
                      example: Poland
                    post_code:
                      type: string
                      example: 01-100
                    vat_number:
                      type: string
                      example: 721231862723452345
                    register_number:
                      type: string
                      example: 92659279523
                    terms_approval:
                      type: boolean
                      example: true
                    payment_obligation_approval:
                      type: boolean
                      example: true
      responses:
        201:
          description: 'Created'
        400:
          description: 'License not found'
        403:
          description: 'Organization have active license now or license order already exists'
  /organizations/orders/{order_uuid}/invoice:
    post:
      tags:
        - Organizations
      summary: 'Request order invoice'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: path
          name: order_uuid
          required: true
          schema:
            type: string
      responses:
        403:
          description: 'Invoice request has been already sent for this order'
        409:
          description: 'Problems with organiaztion or given order'
  /panels/nm/own_addresses:
    get:
      tags:
        - Network Member Panel
      summary: 'Get all own addresses added to network member panel.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        200:
          description: ''
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /panels/nm/reported_addresses:
    get:
      tags:
        - Network Member Panel
      summary: 'Get all reported addresses.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    rep_id:
                      type: integer
                      example: 14850
                      description: 'Rep id'
                    address:
                      type: string
                      example: '4b01721f0244e7c5b5f63c20942850e447f5a5ee'
                      description: 'Address'
                    address_type:
                      type: string
                      example: 'ETH'
                      description: 'Address type'
                    rate:
                      type: string
                      example: '0'
                      description: 'Rate'
                    owner:
                      type: string
                      example: 'Owner'
                      description: 'Owner'
                    description:
                      type: string
                      example: 'Description'
                      description: 'Description'
                    status:
                      type: integer
                      example: 2
                      description: 'Status'
                    evaluation_status:
                      type: string
                      example: '0'
                      description: 'Evaluation status'
                    analyst_id:
                      type: string
                      example: ''
                      description: 'Analyst id'
                    anaylst_note:
                      type: string
                      example: ''
                      description: 'Anaylst note'
                    create_time:
                      type: string
                      example: '2018-10-27T21:28:17.000Z'
                      description: 'Create time'
                    flags:
                      type: array
                      items:
                        {}
                    urls:
                      type: array
                      items:
                        {}
                    files:
                      type: array
                      items:
                        {}
                    sub_user:
                      type: string
                      example: ''
                      description: 'Sub user'
                    last_update:
                      type: string
                      example: '2018-10-24T00:00:00.000Z'
                      description: 'Last update'
                    amlt_reward:
                      type: string
                      example: ''
                      description: 'Amlt reward'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /panels/nm/reported_address_file/{hash}:
    get:
      tags:
        - Network Member Panel
      summary: 'Get information about specific file added to reported address.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
        - in: path
          name: hash
          required: true
          schema:
            type: string
            example: '13a197d7e14cc0ce5f797414f57c136c5a999f0c992241d51f89f9a7921ad558'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  file_type:
                    type: string
                    example: 'image/png'
                    description: 'File type'
                  base64:
                    type: string
                    example: 'ExampleData'
                    description: 'Base64'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Not Found'
                    description: 'Error'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /panels/nm/status:
    get:
      tags:
        - Network Member Panel
      summary: 'Get information about status of user in network member panel.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  kyc_status:
                    type: integer
                    example: 0
                    description: 'Kyc status'
                  kyc_uuid:
                    type: string
                    example: 'cfe2795e-5ea5-448a-95a3-594848db424a'
                    description: 'Kyc uuid'
                  balance_status:
                    type: integer
                    example: 0
                    description: 'Balance status'
                  balances:
                    type: array
                    items:
                      {}
                  reward_address:
                    type: boolean
                    example: false
                    description: 'Reward address'
                  notification_status:
                    type: string
                    example: '2'
                    description: 'Notification status'
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Not Found'
                    description: 'Error'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /panels/nm/own_address:
    post:
      tags:
        - Network Member Panel
      summary: 'Add own address to network member panel.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - address
                - address_type
                - address_function
                - message
                - signature
              properties:
                address:
                  type: string
                  example: '0x05c66d01aadba8230830e70fa8ff9feadfb1e130'
                  description: 'Address'
                address_type:
                  type: string
                  example: 'ETH'
                  description: 'Address type'
                address_function:
                  type: string
                  example: '4'
                  description: 'Address function'
                message:
                  type: string
                  example: 'This address belongs to ABC. Signed for the purposes of onboarding as AMLT Network Member. Code provided by Coinfirm 94502'
                  description: 'Message'
                signature:
                  type: string
                  example: '0x5c1126854a087d124a5dc63c0e8ba739ee9ea4d4d56b767da0c2f6e8e09447b857a422cd8aee10671cbc27aa1b3a96b32fdfab7f463e65e1bfdb578711ef833e1c'
                  description: 'Signature'
      responses:
        201:
          description: ''
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /panels/nm/reported_address:
    post:
      tags:
        - Network Member Panel
      summary: 'Add reported address to network member panel.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - address
                - rate
                - flags
                - flag
                - descr
                - files
              properties:
                address:
                  type: string
                  example: '0x05c66d01aadba8230830e70fa8ff9feadfb1e130'
                  description: 'Address'
                address_type:
                  type: string
                  example: 'ETH'
                  description: 'Address type'
                rate:
                  type: string
                  example: '1'
                  description: 'Rate'
                owner:
                  type: string
                  example: 'Owner'
                  description: 'Owner'
                description:
                  type: string
                  example: 'Description'
                  description: 'Description'
                urls:
                  type: array
                  items:
                    type: object
                    properties:
                      url:
                        type: string
                        example: 'http://coinfirm.com'
                        description: 'Url'
                flags:
                  type: array
                  items:
                    type: object
                    properties:
                      flag:
                        type: integer
                        example: 1
                        description: 'Flag'
                      descr:
                        type: string
                        example: 'Descr'
                        description: 'Descr'
                files:
                  type: array
                  items:
                    type: object
                    properties:
                      base64:
                        type: string
                        example: 'ExampleData'
                        description: 'Base64'
                      type:
                        type: string
                        example: 'image/png'
                        description: 'Type'
      responses:
        201:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  files:
                    type: array
                    items:
                      type: object
                      properties:
                        file_hash:
                          type: string
                          example: '13a197d7e14cc0ce5f797414f57c136c5a999f0c992241d51f89f9a7921ad558'
                          description: 'File hash'
                  message:
                    type: string
                    example: ''
                    description: 'Message'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /panels/nm/reported_address/{address}:
    get:
      tags:
        - Network Member Panel
      summary: 'Get information about specific reported address.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
        - in: path
          name: address
          required: true
          schema:
            type: string
            example: '05c66d01aadba8230830e70fa8ff9feadfb1e130'
      responses:
        200:
          description: ''
        400:
          description: ''
        404:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'Not Found'
                    description: 'Error'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /panels/nm/members/join:
    post:
      tags:
        - Network Member Panel
      summary: 'Join to network member panel (send invitation to KYC form).'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                participantEmail:
                  type: string
                  example: 'phpunit+9d8674261b7cae6621cbc2bdeb6d6c05073bb437@coinfirm.com'
                  description: 'ParticipantEmail'
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  uuid:
                    type: string
                    example: 'cfccb1a6-3a78-4e3e-b6e5-358514f18b93'
                    description: 'Uuid'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /panels/nm/buyamlt:
    post:
      tags:
        - Network Member Panel
      summary: 'Send request to buy specific amount of AMLT.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
                - amount
                - email
              properties:
                email:
                  type: string
                  example: 'phpunit+f97b08feeac80e982804cd6f161a9a51d3392a1f@coinfirm.com'
                  description: 'Email'
                amount:
                  type: number
                  example: 545
                  description: 'Amount'
      responses:
        200:
          description: ''
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /reports/aml/basic/{address}:
    get:
      tags:
        - Reports
      summary: 'Create new AML basic report.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
        - in: path
          name: address
          required: true
          schema:
            type: string
            example: '3F1abvJkXLXAg6Egtw8w2GDr7iMTd2f8Su'
        - in: query
          name: v
          required: false
          schema:
            type: integer
            example: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_info_section:
                    type: object
                    properties:
                      report_id:
                        type: string
                        example: '4766b8e1062d50a989d05eaccbf946908893b26bdaf81e5f11662979b9771f4c'
                        description: 'Report id'
                      version:
                        type: string
                        example: '3.4'
                        description: 'Version'
                      address:
                        type: string
                        example: '3F1abvJkXLXAg6Egtw8w2GDr7iMTd2f8Su'
                        description: 'Address'
                      address_type:
                        type: string
                        example: 'BTC'
                        description: 'Blockchain Type: Name of the blockchain ledger in which the evaluated address transacts.'
                      address_subtype:
                        type: string
                        example: 'P2SH'
                        description: 'Address subtype'
                      asset:
                        type: string
                        example: 'ETH'
                        description: 'Asset'
                      precision:
                        type: integer
                        example: '18'
                        description: 'Asset precision'
                      report_type:
                        type: string
                        example: 'basic'
                        description: 'Report type'
                      report_time:
                        type: string
                        example: '2019-07-03T09:10:06.045Z'
                        description: 'Report time'
                      report_block_height:
                        type: integer
                        example: 583588
                        description: 'Report block height'
                      address_used:
                        type: boolean
                        example: true
                        description: 'Address used'
                      is_cluster:
                        type: boolean
                        example: false
                        description: 'Is cluster'
                      whitelist:
                        type: boolean
                        example: false
                        description: 'Whitelist'
                      description:
                        type: string
                        example: "Donation address belongs to a nonprofit organization."
                        description: "Address description"
                  cscore_section:
                    type: object
                    properties:
                      cscore:
                        type: integer
                        example: 33
                        description: 'Cscore'
                  profile_section:
                    type: object
                    properties:
                      owner:
                        type: object
                        properties:
                          name:
                            type: string
                            example: 'Identified'
                            description: 'Name'
                  financial_analysis_section:
                    type: object
                    properties:
                      cc_balance:
                        type: number
                        example: 0
                        description: 'Cc balance'
                  other_information_section:
                    type: object
                    properties:
                      disclaimer:
                        type: string
                        example: 'ExampleData'
                        description: 'Disclaimer'
                      glossary:
                        type: array
                        items:
                          type: object
                          properties:
                            term:
                              type: string
                              example: 'Address'
                              description: 'Term'
                            description:
                              type: string
                              example: 'an address is like a bank account and for example a Bitcoin address starts with either a ‘1’ or a ‘3’ or a ‘bc1’ and is 26-35 alphanumeric characters in length. The address is generated from the private key, which is required to move assets assigned to this address to another address(es).'
                              description: 'Description'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    example: 'User roles access forbidden.'
                    description: 'Error'
  /reports/aml/standard/{address}:
    get:
      tags:
        - Reports
      summary: 'Create new AML standard report.'
      description: '
        **Access roles:** confirmed
      '
      parameters:
        - in: header
          name: Content-Type
          required: true
          schema:
            type: string
            example: 'application/json'
        - in: header
          name: Authorization
          required: true
          schema:
            type: string
            example: 'Bearer sYFuat5lz1y5v0LrCt7LfqJpo1AkdLgm7LbY6eRibN4NYw9Srf6aMIRJM8KbTwM6'
        - in: path
          name: address
          required: true
          schema:
            type: string
            example: '4e1b32cb147edfe07622c88b90f1ea0df00b6aed'
        - in: query
          name: include_indicators
          required: false
          schema:
            type: boolean
            example: true
        - in: query
          name: v
          required: false
          schema:
            type: integer
            example: 2
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  report_info_section:
                    type: object
                    properties:
                      report_id:
                        type: string
                        example: 'be22313e2ce209431919b4a07720b65834fd76ec213567c7c74afd5e8fff6378'
                        description: 'Report id'
                      version:
                        type: string
                        example: '3.2'
                        description: 'Version'
                      address:
                        type: string
                        example: '4e1b32cb147edfe07622c88b90f1ea0df00b6aed'
                        description: 'Address'
                      address_type:
                        type: string
                        example: 'ETH'
                        description: 'Address type'
                      address_subtype:
                        type: string
                        example: 'ETH'
                        description: 'Address subtype'
                      asset:
                        type: string
                        example: 'ETH'
                        description: 'Asset'
                      precision:
                        type: integer
                        example: '18'
                        description: 'Asset precision'
                      report_type:
                        type: string
                        example: 'standard'
                        description: 'Report type'
                      report_time:
                        type: string
                        example: '2018-12-01T00:00:00.000Z'
                        description: 'Report time'
                      report_block_height:
                        type: integer
                        example: 7270534
                        description: 'Report block height'
                      address_used:
                        type: boolean
                        example: true
                        description: 'Address used'
                      is_smart_contract:
                        type: boolean
                        example: false
                        description: 'Is smart contract'
                      whitelist:
                        type: boolean
                        example: false
                        description: 'Whitelist'
                      description:
                        type: string
                        example: "Donation address belongs to a nonprofit organization."
                        description: "Address description"
                  cscore_section:
                    type: object
                    properties:
                      cscore:
                        type: integer
                        example: 46
                        description: 'Cscore'
                      cscore_info:
                        type: array
                        items:
                          type: object
                          required: [name, group_name, impact]
                          properties:
                            name:
                              type: string
                              description: 'Name'
                            group_name:
                              type: string
                              description: 'Group name'
                            impact:
                              type: integer
                              description: 'Impact'
                            type:
                              type: integer
                              example: 2
                              description: 'Type'
                            id:
                              type: integer
                              description: 'Id'
                          example:
                            - name: 'Address with at least one outgoing transactions equal to or exceeding 15k EUR'
                              group_name: 'Transactions exceeding reporting thresholds'
                              impact: 17
                              id: 265
                            - name: 'Other Risk Indicators'
                              group_name: 'Other Risk Indicators'
                              impact: 83
                  profile_section:
                    type: object
                    properties:
                      owner:
                        type: object
                        properties:
                          name:
                            type: string
                            example: 'Sample company name'
                            description: 'Name'
                          url:
                            type: string
                            example: 'www.aaa.bbb/'
                            description: 'Url'
                          relations:
                            type: array
                            items:
                              properties:
                                name:
                                  type: string
                                  example: 'Related company'
                                  description: 'Related company name'
                                url:
                                  type: string
                                  example: 'www.bbb.ccc/'
                                  description: 'Related company Url'
                                type:
                                  type: string
                                  example: 'Charity'
                                  description: 'Related company type'
                                legal_entity_name:
                                  type: string
                                  example: 'Related company legal entity name'
                                  description: 'Related company legal entity name'
                                description:
                                  type: string
                                  example: 'Related  company description'
                                  description: 'Related company description'
                  financial_analysis_section:
                    type: object
                    properties:
                      cc_balance:
                        type: number
                        example: 64993407406012044
                        description: 'Cc balance'
                      usd_balance:
                        type: number
                        example: 8.98
                        description: 'Usd balance'
                      usd_balance_without_tokens:
                        type: number
                        example: 8.92
                        description: 'Usd balance without tokens'
                      usd_exchange_rate:
                        type: number
                        example: 137.19
                        description: 'Usd exchange rate'
                      first_input:
                        type: object
                        properties:
                          block_time:
                            type: string
                            example: '2018-05-27T02:03:53.000Z'
                            description: 'Block time'
                          tx_hash:
                            type: string
                            example: '243dbf77feaa2eadd827bb5a7f1fb4a22754f2a0082d7f766bc256482ad610d8'
                            description: 'Tx hash'
                          amount:
                            type: number
                            example: 200000000000000000
                            description: 'Amount'
                          usd_value:
                            type: number
                            example: 117.1
                            description: 'Usd value'
                          block_height:
                            type: integer
                            example: 5683205
                            description: 'Block height'
                          activated:
                            type: boolean
                            example: false
                            description: 'Activated'
                      first_output:
                        type: object
                        properties:
                          block_time:
                            type: string
                            example: '2018-05-27T02:22:00.000Z'
                            description: 'Block time'
                          tx_hash:
                            type: string
                            example: 'effef0f296caffb20761e8e169d85e00bfee1eb4b29a1baa2d82c0bc844f6f3b'
                            description: 'Tx hash'
                          amount:
                            type: number
                            example: 0
                            description: 'Amount'
                          usd_value:
                            type: number
                            example: 0
                            description: 'Usd value'
                          block_height:
                            type: integer
                            example: 5683282
                            description: 'Block height'
                          activated:
                            type: boolean
                            example: false
                            description: 'Activated'
                      last_input:
                        type: object
                        properties:
                          block_time:
                            type: string
                            example: '2018-06-19T16:20:11.000Z'
                            description: 'Block time'
                          tx_hash:
                            type: string
                            example: '50d0fd32533f9cd864267dfbea783bc9e832126d1f1c7710b7bf4eba8e57fb96'
                            description: 'Tx hash'
                          amount:
                            type: number
                            example: 1100000000000000
                            description: 'Amount'
                          usd_value:
                            type: number
                            example: 0.58
                            description: 'Usd value'
                          block_height:
                            type: integer
                            example: 5817694
                            description: 'Block height'
                          activated:
                            type: boolean
                            example: false
                            description: 'Activated'
                      last_output:
                        type: object
                        properties:
                          block_time:
                            type: string
                            example: '2018-08-25T06:37:15.000Z'
                            description: 'Block time'
                          tx_hash:
                            type: string
                            example: 'b412ef667c2fda6164a22bbf2e117bf6dbeec6722f39b739178a17c0ad940b65'
                            description: 'Tx hash'
                          amount:
                            type: number
                            example: 0
                            description: 'Amount'
                          usd_value:
                            type: number
                            example: 0
                            description: 'Usd value'
                          block_height:
                            type: integer
                            example: 6209586
                            description: 'Block height'
                          activated:
                            type: boolean
                            example: false
                            description: 'Activated'
                      transactions:
                        type: object
                        properties:
                          avg_tx_fee:
                            type: number
                            example: 4.4286351347045E+15
                            description: 'Avg tx fee'
                          avg_tx_size:
                            type: integer
                            example: 0
[...]
