<h1>Log In</h1>
<form action="/login" method="post">
    <input name="login" type="text" placeholder="Enter your login:" />
    <input name="password" type="password" placeholder="Enter your password:" />
    <input type="submit" value="Log In" />
</form>